body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  color: #333;
  
}

/* Navbar */
nav {
  background-color: #8B1D2C;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #FFD700;
}

/* Header */
.header {
  background-color: #8B1D2C;
  color: white;
  text-align: center;
  padding: 40px;
  animation: fadeIn 2s;
}

.header h1 {
  margin: 0;
}

/* Sections */
.section {
  padding: 40px;
  animation: slideUp 1.5s;
}

.section h2 {
  color:  #8B1D2C;
}

/* Cards */
.card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #FFD700;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

/* Footer */
footer {
  background-color: #8B1D2C;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


